*{
    margin:0;
    padding:0;
    text-decoration:none;
}
html,body{
    width:100%;
    height:100%;
    

}
.searchpage{
    width:414px;
    height:100%;
    background-color:#ffffff;
    border:1px solid rgb(104,104,104);
   
    margin:50px auto;
}
.searchpage .searchpage_top{
    width:100%;
    height:54.2167px;
    background-color:#f1f1f1;
}
.searchpage .searchpage_top .searchpage_top-main{
    width:394px;
    height:54.2167px;
    margin:0 auto;
    display:flex;

}
.searchpage .searchpage_top .searchpage_top-main .jd-search-icon{
    width:20px;
    height:54.2167px;
    line-height:54.2167px;
}
.searchpage .searchpage_top .searchpage_top-main form{
    width:364px;
    height:54.2167px;
}
.searchpage .searchpage_top .searchpage_top-main form .form-box{
    width:364px;
    height:33.1334px;
    margin-top:11.0333px;
}
.searchpage .searchpage_top .searchpage_top-main form .form-box div{
    width:300.583px;
    height:33.1333px;
    border-radius:16.5667px;
    border:1px solid grey;
    background-color:#ffffff;
    float:left;
}
.searchpage .searchpage_top .searchpage_top-main form .form-box div span{
    width:37.333px;
    height:20px;
    margin-left:20px;
    line-height:20px;
    
}
.searchpage .searchpage_top .searchpage_top-main form .form-box div span img{
    width:15.4667px;
    height:15.4667px;
    vertical-align: middle;

}

.searchpage .searchpage_top .searchpage_top-main form .form-box div input{
    width:240.25px;
    height:17.6667px;
    padding:6.7333px 0 6.7333px 0;
    border:none;

}
.searchpage .searchpage_top .searchpage_top-main form .form-box a{
    display:inline-block;
   
    width:46.38333px;
    height:33.1333px;
    border-radius:4.41667px;
    background-color:rgb(233,59,61);
    font-size:15.4667px;
    font-weight:400;
    color:rgb(255,255,255);
    text-align:center;
    line-height:33.1333px;
    float:left;
    margin-left:10px;
}

.searchpage .searchpage_bott{
    width:414px;
    height:136.767px;
    margin-top:15px;
    padding-left:13px;
   
}
.searchpage .searchpage_bott .hot-search{
    width:386px;
    height:16.5667px;
    font-size:17.6667px;
    font-weight:400;
    color:black;
    margin-bottom:8px;

}
.searchpage .searchpage_bott .hot-search-tags{
    width:399px;
    height:106.2px;
}
.searchpage .searchpage_bott .hot-search-tags a{
    display:inline-block;
    border-color:rgb(104,104,104);
    font-size:13.25px;
    font-weight:400;
    color:rgb(104,104,104);
    background-color:#f1f1f1;
    text-align:center;
    padding:7px 10px 7px 10px;
    margin-right:12px;
    margin-top:7px;

    
}

